{% extends 'base.html.twig' %}

{% block title %}Compte - Modifier mot de passe{% endblock %}

{% block content %}
    <h2>Mon compte - Modifier mot de passe</h2>

    <hr>
    {% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <a href="{{ path('app_account') }}"><button class="btn btn-outline-light">Retour</button></a>
{% endblock %}
